In [119]:
import pandas as pd
import numpy as np
import matplotlib as plt
import statsmodels.api as sm
import matplotlib.pyplot as plt
from scipy.stats import f_oneway
from sklearn.preprocessing import LabelEncoder
from scipy import stats
from scipy.stats import chi2_contingency

In [71]:
#Dataset Columns:
#Person ID: An identifier for each individual.
#Gender: The gender of the person (Male/Female).
#Age: The age of the person in years.
#Occupation: The occupation or profession of the person.
#Sleep Duration (hours): The number of hours the person sleeps per day.
#Quality of Sleep (scale: 1-10): A subjective rating of the quality of sleep, ranging from 1 to 10.
#Physical Activity Level (minutes/day): The number of minutes the person engages in physical activity daily.
#Stress Level (scale: 1-10): A subjective rating of the stress level experienced by the person, ranging from 1 to 10.
#BMI Category: The BMI category of the person (e.g., Underweight, Normal, Overweight).
#Blood Pressure (systolic/diastolic): The blood pressure measurement of the person, indicated as systolic pressure over diastolic pressure.
#Heart Rate (bpm): The resting heart rate of the person in beats per minute.
#Daily Steps: The number of steps the person takes per day.
#Sleep Disorder: The presence or absence of a sleep disorder in the person (None, Insomnia, Sleep Apnea).

In [72]:
data = pd.read_csv('Sleep_health_and_lifestyle_dataset.csv')

In [73]:
display(data.head())
display(data.info())
display(data.describe())

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

None

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,108.108742,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,1.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,94.250000,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,187.500000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,280.750000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,374.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [74]:
data = data.drop('Person ID', axis=1)

In [77]:
display(data['Occupation'].unique())
data1 = data.groupby('Occupation').apply(lambda x: x.sort_values('Stress Level', ascending=False))
display(data1)

array(['Software Engineer', 'Doctor', 'Sales Representative', 'Teacher',
       'Nurse', 'Engineer', 'Accountant', 'Scientist', 'Lawyer',
       'Salesperson', 'Manager'], dtype=object)

                Gender  Age  Occupation  Sleep Duration  Quality of Sleep  \
Occupation
Accountant 311  Female   52  Accountant             6.6                 7
           310  Female   52  Accountant             6.6                 7
           309  Female   52  Accountant             6.6                 7
           308  Female   52  Accountant             6.6                 7
           307  Female   52  Accountant             6.5                 7
...                ...  ...         ...             ...               ...
Teacher    101  Female   36     Teacher             7.2                 8
           100  Female   36     Teacher             7.2                 8
           99   Female   36     Teacher             7.1                 8
           98   Female   36     Teacher             7.1                 8
           262  Female   45     Teacher             6.6                 7

                Physical Activity Level  Stress Level BMI Category  \
Occupation
Accountant 311                       45             7   Overweight
           310                       45             7   Overweight
           309                       45             7   Overweight
           308                       45             7   Overweight
           307                       45             7   Overweight
...                                 ...           ...          ...
Teacher    101                       60             4       Normal
           100                       60             4       Normal
           99                        60             4       Normal
           98                        60             4       Normal
           262                       45             4   Overweight

               Blood Pressure  Heart Rate  Daily Steps Sleep Disorder
Occupation
Accountant 311         130/85          72         6000       Insomnia
           310         130/85          72         6000       Insomnia
           309         130/85          72         6000       Insomnia
           308         130/85          72         6000       Insomnia
           307         130/85          72         6000       Insomnia
...                       ...         ...          ...            ...
Teacher    101         115/75          68         7000            NaN
           100         115/75          68         7000            NaN
           99          115/75          68         7000            NaN
           98          115/75          68         7000            NaN
           262         135/90          65         6000            NaN

[374 rows x 12 columns]

In [95]:
#Transformar as colunas 'BMI Category' e 'Sleep Disorder' em valores numéricos
encoder = LabelEncoder()
data['BMI Category'] = encoder.fit_transform(data['BMI Category'])
data['Sleep Disorder'] = encoder.fit_transform(data['Sleep Disorder'])

In [99]:
#Teste de hipoteses: teste t de Student

f_stat, p_value = f_oneway(data['Age'], data['Sleep Duration'], data['Quality of Sleep'], data['Physical Activity Level'], data['Stress Level'], data['BMI Category'],data['Sleep Disorder'])

if p_value < 0.05:
    print("→ Há uma diferença significativa entre as médias dos grupos.")
else:
    print("x Não há uma diferença significativa entre as médias dos grupos.")

→ Há uma diferença significativa entre as médias dos grupos.

In [117]:
#Testes estatísticos
#dependente é Sleep Disorder data['Sleep Disorder']
#independente são as demais data['Age'], data['Sleep Duration'], data['Quality of Sleep'], data['Physical Activity Level'], data['Stress Level'], data['BMI Category']

#Regressão Linear
X = sm.add_constant(data['Sleep Duration'])
model = sm.OLS(data['Sleep Disorder'], X).fit()
display(model.summary())
print('------------')

#Coef de Pearson
corr_coefficient, p_value = stats.pearsonr(data['Sleep Disorder'], data['Sleep Duration'])
print(f"Coeficiente de correlação de Pearson: {corr_coefficient}")
print(f"P-valor: {p_value}")
print('------------')

#Qui-Quadrado
contingency_table = pd.crosstab(data['Sleep Duration'], data['Sleep Disorder'])
chi2, p, dof, expected = chi2_contingency(contingency_table)
if p < 0.05:
    print("→ Há uma relação significativa entre as variáveis.")
else:
    print("Não há uma relação significativa entre as variáveis.")

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         Sleep Disorder   R-squared:                       0.146
Model:                            OLS   Adj. R-squared:                  0.144
Method:                 Least Squares   F-statistic:                     63.58
Date:                Fri, 28 Jul 2023   Prob (F-statistic):           1.92e-14
Time:                        20:11:59   Log-Likelihood:                -419.84
No. Observations:                 374   AIC:                             843.7
Df Residuals:                     372   BIC:                             851.5
Df Model:                           1
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
const             -1.3792      0.348     -3.962      0.000      -2.064      -0.695
Sleep Duration     0.3868      0.049      7.973      0.000       0.291       0.482
==============================================================================
Omnibus:                       91.847   Durbin-Watson:                   0.570
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               33.317
Skew:                          -0.528   Prob(JB):                     5.83e-08
Kurtosis:                       1.989   Cond. No.                         66.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

------------
Coeficiente de correlação de Pearson: 0.3820451694029506
P-valor: 1.9177920083864673e-14
------------
→ Há uma relação significativa entre as variáveis.